<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <style>
        body {
            font-family: 'SUITE-Regular' !important;
        }

        .input-form {
            max-width: 1200px !important;
            margin: 40px auto;
            padding: 32px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            display: flex;
            justify-content: center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // 수량 수정
            $(".updateBtn").on("click", function () {
                var cartid = $(this).attr("data-num");
                var gamount = $("#gamount" + cartid).val();

                var formData = {
                    cartid: cartid,
                    gamount, gamount
                };
                $.ajax({
                    type: "put",
                    url: "carts",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    success: function (response) {
                        var price = $("#gprice" + cartid).text();
                        $("#sum" + cartid).text(price * gamount);

                        Swal.fire({
                            text: gamount + "개로 수정하였습니다.",
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            button: {
                                text: '확인',
                                closeModal: true
                            }
                        }).then(() => {
                            window.location.href = 'carts';
                        });
                    }
                });


            });

            // 단일 삭제
            $(".deleteBtn").on("click", function () {
                var cartid = $(this).attr("data-num");

                $.ajax({
                    type: "delete",
                    url: "carts",
                    contentType: "application/json",
                    data: JSON.stringify(cartid),
                    success: function (response) {
                        Swal.fire({
                            text: "삭제되었습니다.",
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            button: {
                                text: '확인',
                                closeModal: true
                            }
                        }).then(() => {
                            window.location.href = 'carts';
                        });
                    }
                });
            });

            $("#deleteAll").on("click", function () {
                alert("삭제 되었습니다");
            });

            // 전체 선택/해제
            $("#allCheck").on("click", function () {
                var allCheck = this.checked;

                $(".check").each(function (idx, ele) {
                    this.checked = allCheck;
                });
            });

            // 단일 주문
            $(".orderBtn").on("click", function () {
                var cartid = $(this).attr("data-num");

                location.href = "order?cartid=" + cartid;
            });

            // 계속 쇼핑
            $("#goMain").on("click", function () {
                location.href = "main";
            });
        });
    </script>
</head>

<body>
<div th:include="'/common/nav'"></div>
<div class="input-form">
    <table width="90%" cellspacing="0" cellpadding="0" border="0">

        <form name="myForm" method="get">
            <tr>
                <td height="30">
            </tr>
            <tr>
                <td colspan="5" class="td_default">&nbsp;&nbsp;&nbsp; <font size="5"><b>장바구니</b></font> &nbsp;
                </td>
            </tr>
            <tr>
                <td height="15">
            </tr>
            <tr>
                <td colspan="10">
                    <hr size="1" color="CCCCCC">
                </td>
            </tr>
            <tr>
                <td height="7">
            </tr>
            <tr>
                <td class="td_default" align="center"><input type="checkbox" name="allCheck" id="allCheck">
                    <strong>전체선택</strong></td>
                <td class="td_default" align="center"><strong>주문번호</strong></td>
                <td class="td_default" align="center" colspan="2"><strong>상품정보</strong></td>
                <td class="td_default" align="center"><strong>판매가</strong></td>
                <td class="td_default" align="center" colspan="2"><strong>수량</strong></td>
                <td class="td_default" align="center"><strong>합계</strong></td>
                <td></td>
            </tr>
            <tr>
                <td height="7">
            </tr>
            <tr>
                <td colspan="10">
                    <hr size="1" color="CCCCCC">
                </td>
            </tr>

            <tr th:each="cart:${carts}">
                <td class="td_default" width="120" align="center">
                    <input type="checkbox" name="check" class="check" th:value="${cart.cartid}">
                </td>
                <td class="td_default" width="80" th:text="${cart.cartid}"></td>
                <td class="td_default" width="80">
                    <img th:src="@{'images/items/' + ${cart.gimage} + '.gif'}" border="0" align="center"
                         width="80" />
                </td>
                <td class="td_default" width="300" style='padding-left: 30px'>
                    <p th:text="${cart.gname}"></p>
                    <span style="color:#665b5f"> [옵션 : 사이즈(<span th:text="${cart.gsize}"> </span>) , 색상(<span
                            th:text="${cart.gcolor}"></span>)</span>
                </td>
                <td class="td_default" align="center" width="110"><span th:id="'gprice' + ${cart.cartid}"
                                                                        th:text="${cart.gprice}"></span></td>
                <td class="td_default" align="center" width="90">
                    <input class="input_default" type="text" th:id="'gamount' + ${cart.cartid}"
                           style="text-align: right" maxlength="2" size="2" th:value="${cart.gamount}">
                </td>
                <td><input type="button" value="수정" class="updateBtn btn btn-primary"
                           th:attr="data-num=${cart.cartid}" /></td>
                <td class="td_default" align="center" width="80" style='padding-left: 5px'><span
                        id="'sum' + ${cart.cartid}" th:text="${cart.gprice*cart.gamount}"></span></td>
                <td>
                    <input type="button" value="주문" class="orderBtn btn btn-primary" th:attr="data-num=${cart.cartid}">
                </td>
                <td class="td_default" align="center" style='padding-left: 10px'>
                    <input type="button" value="삭제" class="deleteBtn btn btn-primary"
                           th:attr="data-num=${cart.cartid}">
                </td>
                <td height="10"></td>
            </tr>
            <tr>
                <td colspan="10">
                    <hr size="1" color="CCCCCC">
                </td>
            </tr>
            <tr>
                <td height="30">
            </tr>

            <tr>
                <td align="center" colspan="5">
                    <button class="btn btn-primary mx-3" id="orderAll"
                            onclick="javascript: form.action='orders';">전체
                        주문하기</button>
                    <a class="btn btn-primary" th:href="main">계속 쇼핑하기</a>
                </td>
            </tr>
            <tr>
                <td height="20">
            </tr>
        </form>
    </table>
</div>
</body>

</html>