<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>결제정보</title>
</head>

<body>
<div th:include="'/common/nav'"></div>
<div class="container">
    <table width="70%" cellspacing="0" cellpadding="0">

        <tr>
            <td height="30">
        </tr>

        <tr>
            <td>
                <h2>주문완료</h2>
            </td>
        </tr>

        <tr>
            <td height="30">
        </tr>

        <tr>
            <td align="center"><b>주문해주셔서 감사합니다.</b></td>
        </tr>

        <tr>
            <td height="7">
        </tr>

        <tr>
            <td class="td_default" align="center"><b><span th:text="${buyer.userid}"></span></b> 님의 주문이
                안전하게 처리되었습니다.</td>
        </tr>

        <tr>
            <td height="40">
        </tr>

        <tr>
            <td class="td_default"><b>상품 및 배송정보</b>
            </td>
        </tr>

        <tr>
            <td height="15">
        </tr>

        <tr>
            <td>
                <table width="100%" border="1" style="border-collapse: collapse">
                    <tr>
                        <td class="td_default" width="150" height="35"> 받으시는 분</td>
                        <td class="td_default" height="35"> <span style="font-weight:bold"
                                                                  th:text="${buyer.recipient}"></span> 고객님</td>
                    </tr>
                    <tr>
                        <td class="td_default" height="35"> 주소</td>
                        <td class="td_default" height="35"><span th:text="${buyer.post}"></span> <span class="mx-2"
                                                                                                       th:text="${buyer.addr}"></span>

                        </td>
                    </tr>

                    <tr>
                        <td class="td_default" height="35"> 전화번호</td>
                        <td class="td_default" height="35" th:text="${buyer.phone}"></td>
                    </tr>
                </table>
        </tr>
        </td>

        <tr>
            <td height="20">
        </tr>


        <tr>
            <td height="40">
        </tr>

        <tr>
            <td class="td_default"><b>결제정보</b></td>
        </tr>

        <tr>
            <td height="15">
        </tr>

        <tr>
            <td>
                <table width="100%" border="1" style="border-collapse: collapse">
                    <tr>
                        <td class="td_default" width="150" height="35"> 상품명</td>
                        <td class="td_default" height="35">
                            <span th:text="${buyer.name}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_default" width="150" height="35"> 결제금액</td>
                        <td class="td_default" height="35">
                            <span id='total' th:text='${buyer.amount}' style="font-weight:bold"></span> 원
                        </td>
                    </tr>
                    <tr>
                        <td class="td_default" width="150" height="35"> 결제수단</td>
                        <td class="td_default" height="35">
                            <span th:text="${buyer.pay_method}"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="40">
        </tr>



        <tr>
            <td height="40">
        </tr>

        <tr>
            <td class="td_default" align="center">
                <a class="btn btn-primary" th:href="@{main}">메인화면으로 이동</a>
            </td>
        </tr>

        <tr>
            <td height="30">
        </tr>

    </table>
</div>
</body>

</html>