<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
             Swal.fire({
                 text: "로그아웃 되었습니다.",
                 icon: 'success',
                 confirmButtonColor: '#3085d6',
                 button: {
                     text: '확인',
                     closeModal: true
                 }
             }).then(() => {
                    window.location.href = 'main';
             });
        });
    </script>
</head>

<body class="text-center">
<div th:include="'/common/nav'"></div>
</body>

</html>